<div class="_wrap pt-7 pb-7">
    <div class="_content">
        <div class="col-darkgrey pa-4 bg-col-white fs-1 _pagination-bar">
            <div class="_pagination">
                <img class="cursor-pointer mr-4 _arrow _left"
                     (click)="updatePage()"
                     src="assets/images/arrow.svg">
                <span>Page {{ currentPage }} of {{ calculatePagination }}</span>
                <img class="cursor-pointer ml-4 _arrow"
                     (click)="updatePage(true)"
                     src="assets/images/arrow.svg">
            </div>

            <input type="text"
                   placeholder="Enter your search here"
                   (keyup)="searchQuery($event.target)"
                   class="input _search-input">
        </div>
        <div class="_table-container">
            <table class="w-full bg-col-white _table">
                <thead>
                    <tr class="_row">
                        <th class="fw-4 _table-heading"
                            *ngFor="let field of tableFields">
                            <ng-container [ngSwitch]="field.name === 'simple_thumb'">
                                <span *ngSwitchCase="true">{{ getName(field.name) }}</span>

                                <span *ngSwitchCase="false"
                                      [ngClass]="{'_active': field.active}"
                                      class="_heading-text cursor-pointer"
                                      (click)="sort(field)">
                                    {{ getName(field.name) }}
                                </span>
                            </ng-container>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container [ngSwitch]="showNoResultsInfo">
                        <ng-container *ngSwitchCase="false">
                            <tr class="cursor-pointer _editable-row"
                                *ngFor="let row of getRow(currentPage)"
                                (dblclick)="editRow(row)">
                                <td class="_table-field"
                                    *ngFor="let field of tableFields">
                                    <ng-container [ngSwitch]="field.name === 'simple_thumb'">
                                        <ng-container *ngSwitchCase="true">
                                            <img [src]="row[field.name]" />
                                        </ng-container>
                                        <ng-container *ngSwitchCase="false">
                                            {{ row[field.name] }}
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngSwitchCase="true">
                            <tr>
                                <td colspan="6"
                                    class="center col-darkgrey _table-field _no-results-field">
                                    Unfortunately we couldn't find any search results for your query
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>

                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- MODAL -->
<app-edit-table-modal></app-edit-table-modal>