@use "/src/global/variables.scss";

//generate paddings & margins classes
@mixin generate($prefix, $property) {
  $sizes: 0, 0.1, 0.25, 0.5, 1, 1.5, 3, 6, 20;
  $spacing: 1rem;

  @for $i from 1 through length($sizes) {
    // Get the size for the current index
    $size: nth($sizes, $i);

    // Create the rule
    .#{$prefix}-#{$i - 1} {
      #{$property}: $spacing * $size;
    }
  }
}

$rules: (
  ml: margin-left,
  mt: margin-top,
  mb: margin-bottom,
  mr: margin-right,
  pl: padding-left,
  pt: padding-top,
  pb: padding-bottom,
  pr: padding-right,
  ma: margin,
  pa: padding,
);

//Margins & paddings
@each $item in $rules {
  @include generate(nth($item, 1), nth($item, 2));
}

//generate atomic color & bgcolor classes
@each $name, $color in variables.$colors {
  .bg-col-#{$name} {
    background: $color;
  }
  .col-#{$name} {
    color: $color;
  }
}

//generate atomic display property classes
@each $name in variables.$display {
  .#{$name} {
    display: $name;
  }
}

//generate atomic text align property classes
@each $name in variables.$display {
  .#{$name} {
    text-align: $name;
  }
}

//generate atomic position property classes
@each $position in variables.$positions {
  .pos-#{$position} {
    position: $position;
  }
}

//Width
@each $name, $size in variables.$sizes {
  .w-#{$name} {
    width: $size;
  }
}

//text align
@each $name in variables.$textPositions {
  .#{$name} {
    text-align: $name;
  }
}

//generate font weight classes
@for $i from 1 through length(variables.$fontWeight) {
  // Get the size for the current index
  $size: nth(variables.$fontWeight, $i);

  // Create the rule
  .fw-#{$i} {
    font-weight: $size;
  }
}

//generate font sizes classes
@for $i from 1 through length(variables.$fontSizes) {
  // Get the size for the current index
  $size: nth(variables.$fontSizes, $i);

  // Create the rule
  .fs-#{$i} {
    font-size: $size;
  }
}

@mixin flex($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
