._bg {
  background-image: url("/assets/images/bg.png");
  background-size: 100% 700px;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media only screen and (max-width: 900px) {
  ._bg {
    background-size: 100% 400px;
  }
}

@media only screen and (max-width: 600px) {
  ._bg {
    background-size: 100% 300px;
  }
}
