@use "/src/global/variables.scss";
@use "/src/global/functions.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

//global styling
* {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body,
html {
  @extend .w-full;
  @extend .ma-0;
}

//atomic classes
.remove-default-styling {
  @extend .ma-0;
  @extend .pa-0;
}

.box-sizing {
  box-sizing: border-box;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.input {
  @extend .b-radius-50;
  border: 1px solid map-get(variables.$colors, grey);
  padding: 0.5rem 0.75rem;
  outline: none;
}

.block-scroll {
  overflow-y: hidden;
}

.b-radius-50 {
  border-radius: 50px;
}
