@use "/src/global/functions.scss";

._menu {
  list-style: none;
  ._menu-link {
    letter-spacing: 2px;
    &:hover {
      &::after {
        width: 35%;
      }
    }
    &::after {
      @extend .bg-col-white;
      @extend .pos-absolute;
      content: "";
      display: block;
      width: 15%;
      height: 1px;
      left: 50%;
      bottom: -35%;
      transform: translate(-50%);
      transition: width 0.3s;
    }
  }
}

@media only screen and (max-width: 900px) {
  ._menu {
    width: 100%;
    ._menu-link {
      text-align: center;
      margin-left: 0 !important;
      margin: 3rem 0;
      &:hover {
        &::after {
          width: 15%;
        }
      }
      &::after {
        width: 5%;
      }
    }
  }
}
